.michroma {
    font-family: 'Michroma', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.light-text {
    font-weight: 300;
}

.semibold-text {
    font-weight: 600;
}

.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #100e1cb0;
    z-index: 0;
}

.faq::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: white;
    position: relative;
    z-index: 5;
}

.header_fire {
    position: absolute;
    background: url('../assets/fire_1.webp') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 35%;
    top: 25%;
    z-index: 4;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.desktop-nav, .desktop { display: flex; }
.mobile-menu { display: none; }

.nav {
    display: flex;
    gap: 20px;
    background: #1a112b;
    padding: 10px 20px;
    border: 1px solid #a575e1;
    border-radius: 30px;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
}

.nav a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 40%;
    width: 1px;
    background-color: #a575e1;
}

.nav a:hover {
    color: #a58eff;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.language-selector {
    background: #1a112b;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #5716a6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.contact-btn:hover {
    color: #a58eff;
}

.contact-btn:hover img {
    content: url('../assets/chat_purple.png');
}

.contact-btn img {
    width: 20px;
    height: 20px;
}

.home__content__logo {
    width: 50%;
    height: 50%;
    justify-self: center;
    margin: 0 auto;
}

.description__text {
    color: #fff;
}

.home__body__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
/*    gap: 20px;*/
/*    padding: 20px;*/
}

.cta-button {
    background: #2d1431;
    color: white;
    border: 1px solid #871134;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.cta-button img {
    width: 15px;
}

.avatar_block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.avatars {
    display: flex;
}

.avatars img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -15px;
}

.avatars img:first-child {
    margin-left: 0;
}

.avatar_block_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-size: 16px;
}

.avatar_block_text span {
    color: #a575e1;
}

.highlight {
    color: #c092ff;
    font-weight: bold;
}

.title-form {
    font-size: 26px!important;
}

.btn-border {
    border: 1px solid #db1246;
    border-radius: 50px;
    padding: 10px;
    background-color: #2d1431;
}

.btn {
    margin: 0!important;
    border: none;
}

.form__info ul {
    background-color: transparent!important;
}

.form__info ul li {
    position: relative;
    font-size: 11px!important;
    line-height: 1.3;
    background-color: transparent!important;
    color: #fff;
}

/* ABOUT */
.about_fire {
    position: absolute;
    background: url('../assets/fire_2.webp') no-repeat center center;
    background-size: 80vw 100vh;
    width: 100%;
    height: 100%;
    left: -17%;
    top: 80%;
    z-index: 4;
    transform: rotate(354deg);
}

.container_about {
    position: relative;
    z-index: 6;
}

.about_block {
    align-self: auto!important;
}

.about_title span, .faq_title span {
    display: block;
}

.about_txt { font-size: 15px!important; }

.about_right_section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about_right_section img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px #ba64c4;
}

.about_description {
    background-color: #1a142e;
    border: 1px solid #a575e1;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    font-size: 15px;
}

/* Why Trade with */
.visible { 
    position: relative;
    z-index: 5; 
}
.why_cards {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: stretch;
}

.why_card {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a575e1;
    border-radius: 30px;
    padding: 20px;
    background: #1a1a2e;
    min-height: 400px;
}

.why_card_special {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #a575e1;
    border-radius: 30px;
    background: #1a1a2e;
    min-height: 400px;
}

.block__body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    text-align: left;
}

.block__body__description {
    flex-grow: 1;
}

.block__body__description_special {
    flex-grow: 1;
    padding: 20px;
}

.block__body__description_special p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.block__body__image {
    border: 1px solid #a575e1;
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    max-height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    margin-top: auto;
}

.block__body__image img {
    max-width: 110%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 30px;
    transform: rotateZ(360deg) scale(1.9);
/*    transform: rotateZ(50deg) scale(2.5);*/
}

.why_card:hover {
    background: #403c4d;
    border: none;
}

.why_card_special:hover {
    background: #403c4d;
    border: none;
}

.why_card_special:hover .block__body__image {
    border: none;
}

.why_card h3 {
    text-decoration: underline;
    text-underline-offset: 5px;
    font-size: 16px!important;
}

.why_card p {
    font-size: 20px;
    color: #fff;
    font-weight: 300;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.sign_btn{
    width: 50%;
    justify-content: center;
}

/* INVESTING */
.investing_section {
    padding-block: 100px!important;
}

.investing_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 5;
}

.container__investing {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-top: 50px;
}

.left__box__investing {
/*    background: rgba(255, 255, 255, 0.1);*/
/*    background: #1a142e;*/
    background: #1a142e66;
    border: 1px solid #a575e1;
    border-radius: 30px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.content__left {
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.content__left p {
    margin-top: -50px;
}

.highlight__investing {
    width: 81%;
    background: #403c4e;
/*    background: #524d61;*/
    padding: 20px;
    border-radius: 30px;
    font-weight: bold;
    color: #f8f9fa;
    position: relative;
    top: -9%;
}

.image-container__left__box {
    width: 47%;
    height: 100%;
    display: flex;
    border: 1px solid #a575e1;
    border-radius: 30px;
}

.image-container__left__box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}
.right__box__investing {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: none;
    width: 30%;
    z-index: 5;
}
.image-container {
    background-color: #1a142e;
    border: 1px solid #a575e1;
    padding: 20px;
    border-radius: 30px;
}
.image-container img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid #a575e1;
}
.right__box__investing p {
    font-size: 17px;
}
h2 {
    color: #b583ff;
}
p {
    line-height: 1.6;
    color: #fff;
}

.content__left__button, .begin__card__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #db1246;
    background: #1a142e;
    padding: 5px;
    border-radius: 50px;
    gap: 5px;
}

.sign_btn_left, .sign_btn_begin__card__header {
    width: auto;
    background: #db1246;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.arrow-container img {
    width: 30px;
    height: 30px;
}

.investing_fire {
    position: absolute;
    background: url('../assets/fire_3.webp') no-repeat center center;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100%;
    left: 0;
    top: 240%;
    z-index: 4;
    transform: rotate(354deg);
}

/* Getting Started with */
.container_begin {
    position: relative;
    z-index: 5;
}
.begin__card__button {
    align-self: center;
    margin-top: 50px;
}

.block__begin__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.block__begin__card {
    background: #1a142e;
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    position: relative;
    border: none;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block__begin__card:hover {
    border: 1px solid #a575e1;
}

.begin__card__header {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.begin__card__title {
    width: 30%;
    background: #db1246;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    transition: all 0.3s ease;
}

.block__begin__card:hover .begin__card__title {
    background: #2d1431;
    color: white;
    border: 1px solid #871134;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
}

.block__begin__card_description {
    max-width: 85%;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.block__begin__card:nth-child(1) {
    margin-right: -20px;
    z-index: 9;
}

.block__begin__card:nth-child(2) {
    margin-top: -50px;
    z-index: 10;
}

.block__begin__card:nth-child(3) {
    margin-left: -20px;
    padding-left: 50px;
    z-index: 9;
    background: #1a142e9c;
}

.block__begin__card:nth-child(3) .begin__card__title  {
    align-self: flex-end;
}

.block__begin__card:nth-child(3):hover .begin__card__title  {
    align-self: center;
}

@keyframes hoverEffect {
    0% {
        border: 1px solid transparent;
    }
    100% {
        border: 1px solid #a575e1;
    }
}

.block__begin__card:nth-child(2) {
    animation: hoverEffect 0.5s ease forwards;
}

.block__begin__card:nth-child(2) .begin__card__title {
    background: #2d1431;
    color: white;
    border: 1px solid #871134;
    padding: 12px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    align-self: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.section_begin_1 {
    position: relative;
}

.begin_fire {
    position: absolute;
    background: url('../assets/fire_2.webp') no-repeat center center;
    background-size: contain;
    width: 70%;
    height: 100%;
    left: 50%;
    top: -10%;
    z-index: 4;
    transform: rotate(-354deg) scaleX(-1);
}

/* FAQ */
.faq {
    position: relative;
}
.container__faq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.faq_title {
    flex: 1;
}

.container__faq__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.container__faq__content p {
    text-align: end;
    color: #666;
}

.container__faq__content h3 {
    color: #fff;
    font-size: 20px;
}

.faq__column img {
    border-radius: 30px;
    max-width: 250px;
    position: relative;
    z-index: 5;
}

.spoiler__item button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spoiler__item span {
    padding-left: 20px;
    font-size: 15px;
    font-weight: 300;
}

.icon-big-faq {
    width: 40px!important;
    height: 40px!important;
}

.icon-big-faq img {
    width: 100%;
    height: 100%;
}

.faq__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around!important;
    padding-top: 60px;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.faq__column, .faq__spoiler {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq__column img {
    border-radius: 30px;
    max-width: 250px;
    display: block;
    margin: 0 auto;
}

.faq__spoiler {
    width: 50%;
    max-width: none;
    box-sizing: border-box;
}

.spoiler__text {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.faq_fire {
    position: absolute;
    background: url('../assets/fire_1.webp') no-repeat center center;
    background-size: cover;
    width: 50%;
    height: 100%;
    left: -2%;
    top: 16%;
    z-index: 4;
}

.faq__column__description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    position: relative;
    bottom: 84px;
    left: 42px;
    z-index: 6;
}

.faq__column__description span:nth-child(1) {
    width: 50%;
    font-size: 10px;
    padding: 5px;
}

.faq__column__description span:nth-child(2) {
    width: 100%;
    font-size: 10px;
    background: #77738252;
    padding: 5px;
}

.footer p {
    font-weight: 300;
}

/* width: 1024px */
@media only screen and (width:1024px){
    .home__hold {
        gap: 50px!important;
    }
    .investing_fire { top: 300%; }
    .begin__card__title { width: 50%; }
}

/* width: 768px */
@media (width: 768px) {
    .header { padding: 15px 10px; }
    .desktop-nav, .desktop { display: none; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: 
        relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }
    .description__text { text-align: center; }
    .home__body__div {
        padding-top: 50px;
        justify-content: center;
        gap: 20px;
    }
    
    /*  ABOUT  */
    .about_fire { top: 200%; }
    .container_about { 
        justify-content: center!important; 
        gap: 50px; 
    }
    .about_title, .faq_title { display: inline!important; }
    .about_right_section { gap: 20px; }
    .about_txt { font-size: 20px!important; }

    /* Why Trade with */
    .why_cards { 
        flex-direction: column; 
        gap: 10px;
    }
    .block__body__image img { transform: initial; }

    .header_fire {
        left: 35%;
        top: 30%;
    }
    .block__body__image {
        max-height: 230px;
    }
    .block__body_special {
        gap: 100px;
    }
    .button-container {
        margin-top: 0;
    }
    .highlight__investing {
        width: 100%;
    }
    .container__investing {
        gap: 50px;
    }
    .image-container__left__box img {
        width: 100%;
        height: auto;
        object-fit: fill;
    }
    .investing_fire { top: 540%; }
    /*  BEING  */
    .block__begin__cards { 
        flex-direction: column; 
        gap: 10px;
    }
    .block__begin__card:nth-child(1) { 
        margin-right: 0px;
    }
    .block__begin__card:nth-child(2) {
        margin-top: 0;
    }
    .block__begin__card:nth-child(3) {
        margin-left: 0;
        padding: 20px;
    }
    .spoiler__item {
        width: 340px!important;
    }
    .faq__row {
        justify-content: flex-start!important;
    }
    .faq_fire { 
        width: 100%;
        left: -27%; 
    }
    .begin_fire {
        background-size: contain;
        width: 72%;
        height: 103%;
        left: 50%;
        top: -30%;
        transform: rotate(5deg) scaleX(-1);
    }
}

/* max-width: 768px */
@media (max-width: 767px) {
    .header { padding: 15px 10px; }
    .desktop-nav, .desktop { display: none; }
    .mobile-menu { 
        display: flex;
        align-items: center;
        gap: 10px; 
    }
    #menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100vh; 
        background: rgba(0, 0, 0, 0.8); 
        text-align: center; 
        padding-top: 100px; 
    }
    #menu.overlay { 
        display: block; 
        z-index: 49;
    }
    #menu ul {
        padding: 0;
    }
    #menu li {
        list-style: none;
        display: flex;
        justify-content: center;
    }
    #menu a {
        color: #fff;
        display: block;
        font-size: 32px;
        margin-bottom: 30px;
        text-decoration: none;
    }
    .contact-btn-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #burger-menu { 
        cursor: pointer; 
        height: 27px; 
        width: 27px; 
        position: 
        relative; 
        z-index: 50; 
    }
    #burger-menu span, #burger-menu span:before, #burger-menu span:after {
        background: #fff; 
        display: block; 
        height: 2px; 
        position: absolute; 
        transition: 0.3s ease-in-out;
    }
    #burger-menu span:before, #burger-menu span:after { content: ''; }
    #burger-menu span:before { 
        left: 0; 
        top: -10px; 
        width: 27px; 
    }
    #burger-menu span { 
        right: 0; 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu span:after { 
        left: 0; 
        top: 10px; 
        width: 27px; 
    }
    #burger-menu.close span:before { 
        top: 0; 
        transform: rotate(90deg); 
        width: 27px; 
    }
    #burger-menu.close span { 
        transform: rotate(-45deg); 
        top: 13px; 
        width: 27px; 
    }
    #burger-menu.close span:after { 
        top: 0; 
        left: 0; 
        transform: rotate(90deg); 
        opacity: 0; 
        width: 0; 
    }
    .description__text { text-align: center; }
    .home__body__div {
        padding-top: 50px;
        justify-content: center;
        gap: 20px;
        flex-direction: column;
    }
    
    /*  ABOUT  */
    .about_block { 
        position: relative; 
        z-index: 5; 
    }
    .about_fire { top: 225%; }
    .container_about { 
        justify-content: center!important; 
        gap: 50px; 
    }
    .about_title, .faq_title { display: inline!important; }
    .about_right_section { gap: 20px; }
    .about_txt { font-size: 20px!important; }

    /* Why Trade with */
    .why_cards { flex-direction: column; }
    .block__body__image img { transform: initial; }
    
    /* Investing in Bitcoin? */
    .container__investing {
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }
    .left__box__investing, .right__box__investing { width: 100%; }
    .left__box__investing { flex-direction: column; }
    .content__left { width: 100%; }
    .highlight__investing { width:100%; }
    .image-container__left__box {
        width: 100%;
        height: auto;
    }

    /*  BEING  */
    .block__begin__cards { 
        flex-direction: column; 
        gap: 10px;
    }
    .block__begin__card:hover .begin__card__title, .block__begin__card:nth-child(2) .begin__card__title, .block__begin__card:nth-child(3) .begin__card__title {
        width: 50%;
    }
    .block__begin__card:nth-child(1) { 
        margin-right: 0px;
    }
    .block__begin__card:nth-child(2) {
        margin-top: 0;
    }
    .block__begin__card:nth-child(3) {
        margin-left: 0;
        padding: 20px;
    }
    .begin_fire {
        background-size: contain;
        width: 100%;
        height: 103%;
        left: 50%;
        top: -40%;
        transform: rotate(5deg) scaleX(-1);
    }
    /*  FAQ  */
    .container__faq {
        flex-direction: column;
    }
    .container__faq__content, .container__faq__content p {
        align-items: center;
        text-align: center;
    }
    .faq__row {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .spoiler__item {
        width: 400px!important;
    }
    .faq_fire { 
        width: 100%;
    }
    .faq__column, .faq__spoiler {
        width: 100%;
    }
}

/* max-width: 425px */
@media (max-width: 425px) {
    .header_fire { display: none; }
    .about_fire { top: 200%; }
    .investing_fire { top: 510%; }
}

/* max-width: 375px */
@media (max-width: 375px) {
    .home__body__div {
        flex-direction: column-reverse;
    }
    .investing_fire { top: 530%; }
    .spoiler__item {
        width: 300px !important
    }
}

/* max-width: 320px */
@media (max-width: 320px) {
    .investing_fire { top: 570%; }
    .begin__card__title { width: 50%; }
}